<ul *ngFor="let item of items">
<li>
  <div class="request-list-item list-group-item list-group-item-action">

    <div class="request-list-item-content">
      <div class="request-list-item-content-header">
        <span class="request-title">{{item.Title}}</span>
        <span class="request-category"> {{item.Catalog.Title}}</span>
        <span class="request-date">{{item.ScheduleFrom | date: 'dd/MM/yyyy'}}</span>
      </div>

      <div class="request-list-item-content-info">

        <div class="request-list-item-content-details">
          <div class="request-list-item-content-details-price">
            <span class="request-price-ico"><i class="far fa-money-bill-alt"></i></span>
            <span class="request-price-between">
              <span class="price price-first">{{item.MinPrice}}$</span>
              <span class="line">-</span>
              <span class="price price-second">{{item.MaxPrice}}$</span>
            </span>
          </div>

          <div class="request-list-item-content-details-date">
            <span class="request-date-ico"><i class="far fa-calendar-alt"></i></span>
            <span class="request-date">{{item.ScheduleTo | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>

        <div class="request-list-item-content-info-description">
          {{item.Description}}
        </div>
      </div>

      <div class="request-list-item-options">
        <div class="request-list-item-options-buttons">
          <div class="request-btn">
            <i class="far fa-edit"></i>
          </div>
          <div class="request-btn">
            <i class="far fa-envelope"></i>
          </div>
          <div class="request-btn">
            <i class="fas fa-times"></i>
          </div>
          <div class="request-btn">
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>

        <div class="request-list-item-options-status">
          <span class="sts badge badge-success">New</span>
        </div>
      </div>
    </div>

    <div class="request-list-item-btn">
      <div class="menu-btn">
        <span></span>
      </div>
    </div>
  </div>
</li>
</ul>
