@section scripts {
  <script type="text/javascript" src="~/Scripts/libs/runtime.js"></script>
  <script type="text/javascript" src="~/Scripts/libs/polyfills.js"></script>
  <script type="text/javascript" src="~/Scripts/libs/styles.js"></script>
  <script type="text/javascript" src="~/Scripts/libs/vendor.js"></script>
  <script type="text/javascript" src="~/Scripts/libs/main.js"></script>
}




<div class="row">
  <div class="col-md-12">
    <app-user></app-user>
    <app-user></app-user>
  </div>
</div>
